@import url("//hello.myfonts.net/count/3bac33");
  
@font-face {
  font-family: 'AvenirNext';
  font-weight: 600;
  src: url('webFonts/AvenirNextLTPro-Demi/font.woff2') format('woff2'), url('webFonts/AvenirNextLTPro-Demi/font.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 700;
  src: url('webFonts/AvenirNextLTPro-Bold/font.woff2') format('woff2'), url('webFonts/AvenirNextLTPro-Bold/font.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 400;
  src: url('webFonts/AvenirNextLTPro-Regular/font.woff2') format('woff2'), url('webFonts/AvenirNextLTPro-Regular/font.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 500;
  src: url('webFonts/AvenirNextLTPro-Medium/font.woff2') format('woff2'), url('webFonts/AvenirNextLTPro-Medium/font.woff') format('woff');
}

:root {

  // COLORS

  // main
  @include defineColorHSL(--color-primary-darker, 240, 77%, 0%);
  @include defineColorHSL(--color-primary-dark, 240, 77%, 7%);
  @include defineColorHSL(--color-primary, 240, 77%, 14%);
  @include defineColorHSL(--color-primary-light, 240, 77%, 24%);
  @include defineColorHSL(--color-primary-lighter, 240, 77%, 34%);

  @include defineColorHSL(--color-accent-darker, 37, 94%, 34%);
  @include defineColorHSL(--color-accent-dark, 37, 94%, 44%);
  @include defineColorHSL(--color-accent, 37, 94%, 54%);
  @include defineColorHSL(--color-accent-light, 37, 94%, 64%);
  @include defineColorHSL(--color-accent-lighter, 37, 94%, 74%);

  @include defineColorHSL(--color-black, 0, 0%, 0%);
  @include defineColorHSL(--color-white, 200, 33%, 96%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 122, 39%, 29%);
  @include defineColorHSL(--color-success-dark, 122, 39%, 39%);
  @include defineColorHSL(--color-success, 122, 39%, 49%);
  @include defineColorHSL(--color-success-light, 122, 39%, 59%);
  @include defineColorHSL(--color-success-lighter, 122, 39%, 69%);

  @include defineColorHSL(--color-error-darker, 0, 65%, 31%);
  @include defineColorHSL(--color-error-dark, 0, 65%, 41%);
  @include defineColorHSL(--color-error, 0, 65%, 51%);
  @include defineColorHSL(--color-error-light, 0, 65%, 61%);
  @include defineColorHSL(--color-error-lighter, 0, 65%, 71%);

  // color contrasts
  @include defineColorHSL(--color-bg, 240, 77%, 14%);
  @include defineColorHSL(--color-contrast-lower, 243, 58%, 18%);
  @include defineColorHSL(--color-contrast-low, 249, 36%, 26%);
  @include defineColorHSL(--color-contrast-medium, 249, 15%, 57%);
  @include defineColorHSL(--color-contrast-high, 230, 17%, 86%);
  @include defineColorHSL(--color-contrast-higher, 197, 33%, 96%);


  // TYPOGRAPHY

  // font family
  --font-primary: 'AvenirNextLTPro-Regular', sans-serif;

  // body font size
  --text-base-size: 1em;
  
  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;


  // SPACING 

  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);


  // BUTTONS

  --btn-font-size: .9em;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-xs);
  --btn-radius: 0.25em;
}

@supports(--css: variables) {
  :root {
    @include breakpoint(md) {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
    @include breakpoint(md) {
      --space-unit: 1.25em;
    }
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 500;
}

// font family
.font-primary { font-family: var(--font-primary);}


.btn {
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  letter-spacing: .5px;
  @include fontSmooth;
  box-shadow: 0px 2px 8px 0 alpha(var(--color-black), 0.12), 0px 1px 1px 0 alpha(var(--color-black), 0.12);
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-white);
    opacity: 1;
    font-family: var(--font-primary);
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .5px;
    box-shadow: 0px 1px 2px 0 alpha(var(--color-black), 0.12), 0px 1px 1px 0 alpha(var(--color-black), 0.12);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background-color: var(--color-accent);
  color: var(--color-primary);
  @include fontSmooth;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background-color: var(--color-contrast-low);
  color: var(--color-contrast-higher);
}

.btn--accent {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-accent);
  @include fontSmooth;

  &:hover {
    background-color: var(--color-accent-dark);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);

  &:hover {
    color: var(--color-accent);
  }
}

// feedback
.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
}

.btn--md {
}

.btn--lg {
}
